#fotoPerfilLayout{
    margin-top: 60px;
}

#comite{
    margin-top: 32px;
}

#textoNombre{
    color: var(--secundario-1, #14192C);
    text-align: center;
    /* h1 - título */
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#textoAlias{
    margin-top: 16px;
    color: var(--secundario-1, #14192C);
    text-align: center;
    /* h2 - subtítulo */
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

#gradosInfo{
    margin-left: 72px;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

#solicitudProyecto{
    padding: 10px 24px;
    color: var(--principal, #0065EF);
    border-radius: 16px;
    background: var(--grados, #FFF);
    box-shadow: 2px 2px 4px 0px rgba(20, 20, 20, 0.25);
}

#formComp{
    margin-left: 72px;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

#apartadoTexto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#tituloLineas{
    display: flex;
    padding-bottom: 32px;
    align-items: flex-start;
}

