.separacion {
    height: 0.125rem;
    color: #0065EF !important;
    border-color: #0065EF !important;
    background: #0065EF !important;
    opacity: 1 !important;
}

#notificacionCheckbox1, #notificacionCheckbox2 {
    text-align: right;
    align-items: right;
    justify-content: right;
}

body {
    background-color: #E5E9EC !important;
}

#elementosPerfil{
    margin: 0 auto !important;
}

#inputAlias {
    border: none;
    background-color: transparent;
}