#fotoPerfilLayout{
    margin-top: 60px;
}

#comite{
    margin-top: 32px;
}

#textoNombre{
    color: var(--secundario-1, #14192C);
    text-align: center;
    /* h1 - título */
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#textoAlias{
    margin-top: 16px;
    color: var(--secundario-1, #14192C);
    text-align: center;
    /* h2 - subtítulo */
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

#textoBody{
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#gradosInfo{
    margin-left: 72px;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

#solicitudProyecto{
    padding: 10px 24px;
    color: var(--principal, #0065EF);
    border-radius: 16px;
    background: var(--grados, #FFF);
    box-shadow: 2px 2px 4px 0px rgba(20, 20, 20, 0.25);
}

#formComp{
    margin-left: 72px;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

#apartadoTexto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#tituloLineas{
    display: flex;
    padding-bottom: 32px;
    align-items: flex-start;
}

#infoRow {
    display: flex;
    justify-content: space-between; /* Asegura que los textos estén en extremos opuestos */
    margin-bottom: 2px; /* Espacio entre las filas, ajusta según sea necesario */
}

#label, #value {
    flex: 1; /* Permite que ambos elementos crezcan igualmente */
    text-align: left; /* Alinea el texto a la izquierda */
}

#value {
    flex: 0 0 50%; /* Limita el ancho del valor a un 50% */
    padding-right: 650px; /* Añade espacio a la izquierda del valor */
}

#separador{
    width: 1775px;
    height: 2px;
    background: #0065EF;
    margin-bottom: 32px;
}

#preference-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0;
}

#preference-item span {
    flex: 1;
}

#preference-item div {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#margin{
    margin-left: 445px;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
}

#exitButton{
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    color: var(--grados, #FFF);
    background: var(--secundario-4, #9DA3A7);
    box-shadow: 2px 2px 4px 0px rgba(20, 20, 20, 0.25);
    margin-bottom: 64px;
}

#footerLayout{
    width: auto;
    height: 48px;
    flex-shrink: 0;
    border-radius: 32px 32px 0px 0px;
    background: var(--secundario-5, #E5E9EC);
    box-shadow: 0px -4px 4px 0px rgba(20, 20, 20, 0.25);
}

#footerInterior{
    margin-top: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

input[type="checkbox"] {
    margin-right: 10px;
}