body{
    background-color: #E5E9EC;
}

#titulo{
    color: #000;

    /* h1 - título */
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#tituloLayout{
    margin-bottom: 24px;
    width: 1128px;
}

#contentLayout{
    margin-top: 64px;
    margin-left: 72px;
}

#autores{
    margin-top: 24px;
    color: #000;

    /* h3 - destacado */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#foto1{
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    background-color: #141414;
    border-radius: 35px;
}

#foto2{
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    background-color: #383838;
    border-radius: 35px;
}

#foto3{
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    background-color: #6C6C6C;
    border-radius: 35px;
}

#autoresContainer {
    display: flex;
    align-items: center;
}

.foto {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    margin-right: -15px; /* This will make the circles overlap */
    border: 2px solid white; /* Add border to create spacing effect */
}

#autoresNombres {
    margin-left: 20px; /* Space between circles and text */
    font-size: 14px; /* Adjust the font size as needed */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.asignatura{
    margin-top: 24px;
    margin-right: -20px;
}

#imLayout{
    width: 1770px;
    height: 776px;
    border-radius: 16px;
    background: #D9D9D9;
    margin-top: 24px;
}

#resumenes{
    width: 1770px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.project-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#editProject {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: var(--grados, #FFF);
    box-shadow: 2px 2px 4px 0px rgba(20, 20, 20, 0.25);
    color: var(--principal, #0065EF);
}

#deleteProject {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: var(--secundario-2, #383B42);
    box-shadow: 2px 2px 4px 0px rgba(20, 20, 20, 0.25);
}