#containerFormulario {
    background-image: url('path-to-your-background-image.jpg'); /* Reemplaza con el path de tu imagen */
    background-size: cover; /* Esto asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    border-radius: 15px; /* Esto es para redondear las esquinas */
  }

  #containerFormulario {
    background-color: #f8f9fa; /* Reemplaza con tu color preferido */
    border-radius: 15px; /* Esto es para redondear las esquinas */
    /* Otras propiedades de estilización si es necesario */
  }