.card-header-titulacion {
  background-color: #f7f7f7;
  font-weight: bold;
  text-align: center; /* Esto centra el texto horizontalmente */
  padding: 0.5rem 1rem; /* Añade padding vertical y horizontal */
}

.card-header {
  background-color: #f7f7f7;
  font-weight: bold;
}

.card-img-top {
  max-height: 180px; /* Ajusta la altura como necesites */
  object-fit: cover; /* Esto asegura que la imagen cubra el espacio disponible */
}

.card-title {
  margin-bottom: .5rem;
}

.card-text {
  font-size: .875rem;
}